.tbl-userlst {
    .mat-cell, 
    .mat-header-cell{
        flex: unset;
    }
    
    .mat-column-user_id{
        width: 10%;
    }
    
    .mat-column-full_name{
        width: 90%;
    }
    
}

