.mat-form-field{
    display: block;
}

.form-control[readonly]{
    background-color: #fff;
}

@media (min-width: 1366px){
    .tbl-assignmentlst .mat-cell, 
    .tbl-assignmentlst .mat-header-cell{
        flex: unset;
    }

    .tbl-assignmentlst .mat-column-assignment_id{
        width: 5%;
    }

    .tbl-assignmentlst .mat-column-team{
        width: 10%;
    }

    .tbl-assignmentlst .mat-column-postcode{
        width: 10%;
    }

    .tbl-assignmentlst .mat-column-date{
        width: 10%;
    }

    .tbl-assignmentlst .mat-column-address{
        width: 65%;
    }

    .btn-delAssignment{
        float: right;
    } 
    
    .btn-editAssignment{
        float: left;
    }
}

mat-row:hover{
    background: #FAFAFA;
    cursor: pointer;
}






