.highlight{
    background: #EEEEEE;
}

.mat-form-field{
    display: block;
}

.form-control[readonly]{
    background-color: #fff;
}

@media (min-width: 992px){
    .mat-cell, .mat-header-cell{
        flex: unset;
    }

    .mat-column-assignment_id{
        width: 5%;
    }

    .mat-column-team{
        width: 10%;
    }

    .mat-column-postcode{
        width: 10%;
    }

    
    .mat-column-date{
        width: 10%;
    }

    .mat-column-address{
        width: 65%;
    }
}








