<div [@routerTransition]>
    <app-page-header [heading]="'Manage PDK'" [icon]="'fa-tasks'"></app-page-header>
    <div class="row" [style.padding-bottom]="'15px'">
        <div class="col col-lg-12">
            <button type="button" class="btn btn-primary" [routerLink]="['/managePDK/addPDKAssignment']" [routerLinkActive]="['router-link-active']" >
                <i class="fa fa-plus"></i>  Add Assignment
            </button>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">{{ mode == 2 ? 'Edit Assignment' : 'Add Assignment' }}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                </div>
            </ng-template>
            
        </div>
    </div>
</div>
