<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular5</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="txtUsername" placeholder="Username" 
                            required  
                            [(ngModel)]="user.username" name="txtUsername" #username="ngModel">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="txtPassword" placeholder="Password" 
                            required 
                            [(ngModel)]="user.password" name="txtPassword" #password="ngModel">
                    </div>
                </div>
                
                <div [hidden]="showWrongUsernameOrPass" class="alert alert-danger">Username or password is incorrect.</div>
                <div [hidden]="showPassEmpty" class="alert alert-danger">Password cannot be empty.</div>
                
                <button class="btn rounded-btn" [disabled]="username.pristine" (click)="login()"> Log in </button>
                <!-- &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
        </div>
    </div>
</div>
