/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.input-group .btn-outline-secondary{
    border-color: #ced4da !important;
}

.txtErr{
    font-size: 0.8rem;
    color: maroon;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.text-wrap{
  word-wrap: break-word;
}

.padding-top-15{
  padding-top: 15px;
}

.padding-left-10{
  padding-left: 10px;
}

.padding-left-15{
  padding-left: 15px;
}

.margin-0-auto{
  margin: 0 auto;
}

.margin-15{
  margin: 15px;
}


