<div [@routerTransition]>
    <app-page-header [heading]="'Add PDK Assignment'" [icon]="'fa-tasks'"></app-page-header>
    <div class="row" [style.padding-bottom]="'15px'">
        <div class="col col-lg-12">
            <form [formGroup]="assignmentForm" (ngSubmit)="submit()" novalidate>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="row" [style.padding-bottom]="'10px'">
                            <div class="col col-sm-12">
                                <h4>Assignment Details</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': (assignmentForm.get('date').touched
                                                            || assignmentForm.get('date').dirty) &&
                                                            !assignmentForm.get('date').valid }">
                                    <label for="txtDate">Date of Assignment*</label>
                                    <div class="input-group">
                                        <input ngbDatepicker class="form-control" id="txtDate" placeholder="Select assignment date"
                                            formControlName="date" #dp="ngbDatepicker" [minDate]= "dpMinDate" readonly="readonly">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                                                <i class="fa fa-calendar" style="cursor: pointer"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <span class="help-block" *ngIf="(assignmentForm.get('date').touched
                                                                        || assignmentForm.get('date').dirty) &&
                                                                        assignmentForm.get('date').errors">
                                        <span *ngIf="assignmentForm.get('date').errors.required" class="txtErr">
                                            * Please enter your first name.
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': (assignmentForm.get('postcode').touched
                                                            || assignmentForm.get('postcode').dirty) &&
                                                            !assignmentForm.get('postcode').valid }">
                                    <label for="txtPostcode">Postcode*</label>
                                    <input type="text" class="form-control" id="txtPostcode" placeholder="Insert postcode"
                                        formControlName="postcode">
                                    <span class="help-block" *ngIf="(assignmentForm.get('postcode').touched
                                                                    || assignmentForm.get('postcode').dirty) &&
                                                                    assignmentForm.get('postcode').errors">
                                        <span *ngIf="assignmentForm.get('postcode').errors.required" class="txtErr">
                                            * Please enter the assignmnet postcode.
                                        </span>
                                        <span *ngIf="assignmentForm.get('postcode').errors.pattern" class="txtErr">
                                            * The postcode must be exactly 5 numeric characters.
                                        </span>
                                    </span>
                                </div>
                            </div>                                                
                        </div>
                        <div class="row">
                            <div class="col col-sm-12">
                                
                                <div class="form-group"
                                    [ngClass]="{'has-error': (assignmentForm.get('team').touched
                                                            || assignmentForm.get('team').dirty) &&
                                                            !assignmentForm.get('team').valid }">
                                    <label for="txtTeam">Team*</label>
                                    <input type="text" class="form-control" id="txtTeam" placeholder="Insert team name"
                                        formControlName="team">
                                    <span class="help-block" *ngIf="(assignmentForm.get('team').touched
                                                                    || assignmentForm.get('team').dirty) &&
                                                                    assignmentForm.get('team').errors">
                                        <span *ngIf="assignmentForm.get('team').errors.required" class="txtErr">
                                            * Please enter team name for this assignment.
                                        </span>
                                    </span>
                                </div>

                                <div class="form-group"
                                    [ngClass]="{'has-error': (assignmentForm.get('address').touched
                                                            || assignmentForm.get('address').dirty) &&
                                                            !assignmentForm.get('address').valid }">
                                    <label for="txtAddress">Address*</label>
                                    <textarea class="form-control" id="txtAddress" placeholder="Insert full address "
                                        formControlName="address"></textarea>
                                    <span class="help-block" *ngIf="(assignmentForm.get('address').touched
                                                                    || assignmentForm.get('address').dirty) &&
                                                                    assignmentForm.get('address').errors">
                                        <span *ngIf="assignmentForm.get('address').errors.required" class="txtErr">
                                            * Please enter assignment full address.
                                        </span>
                                    </span>
                                </div>

                                <div class="form-group"
                                    [ngClass]="{'has-error': (assignmentForm.get('remark').touched
                                                            || assignmentForm.get('remark').dirty) &&
                                                            !assignmentForm.get('remark').valid }">
                                    <label for="txtRemark">Remark</label>
                                    <textarea class="form-control" id="txtRemark" placeholder="Insert remark if any "formControlName="remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="row">
                            <div class="col col-sm-12" [style.padding-bottom]="'10px'">
                                <h4>Assigned PDK</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-10">
                                <mat-form-field class="form-group">
                                    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" formControlName="selectUserCtrl">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWithFn">
                                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                            <small>{{ user.user_id }}</small> |                                 
                                            <span>{{ user.full_name }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-2">
                                <button type="button" class="btn btn-success" 
                                (click)="addUser()" [disabled]="assignmentForm.get('selectUserCtrl').value.user_id == undefined">
                                <i class="fa fa-plus"></i>  Add User</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12">
                                <div class="mat-elevation-z8">
                                    <mat-table [dataSource]="dataSource">
                                        <ng-container matColumnDef="user_id">
                                            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.user_id}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="full_name">
                                            <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.full_name}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="action">
                                            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <button type="button" class="btn-removeUser" aria-label="Close" (click)="removeUser(row.user_id)">
                                                    <i class="fa fa-trash-o fa-3"></i>
                                                </button>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    </mat-table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </div>
                        </div>
                        <div class="row" [style.padding-top]="'15px'">
                            <div class="col col-sm-12">
                                <span *ngIf="showNoUser" class="txtErr">
                                    * Please select users for this assignment.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12">
                        <button type="submit" class="btn btn-primary" 
                            [disabled]="!assignmentForm.valid">
                            {{ mode == 2 ? 'Edit Assignment' : 'Add Assignment' }}
                        </button>
                    </div>
                </div>
                <!-- [disabled]="!userForm.valid" -->
                <!--<button type="button" class="btn btn-danger" 
                    [hidden]="(mode == 1) || (userForm.get('status').value == 0)" 
                    (click)="changeUserState(userForm.get('id').value, '0')">
                    Deactivate User
                </button>    
                <button type="button" class="btn btn-success" 
                    [hidden]="(mode == 1) || (userForm.get('status').value == 1)" 
                    (click)="changeUserState(userForm.get('id').value, '1')">
                    Activate User
                </button>-->
            </form>
        </div>
    </div>
</div>