<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>    
    <app-page-header [heading]="mode == 2 ? 'Edit Inspection & Destruction' : 'Add Inspection & Destruction'" [icon]="'fa-tasks'"></app-page-header>
    <div class="col-lg-12 col-xl-12 col-centered">
        <div class="card mb-3">
            <div class="card-header">Inspection & Destruction Form</div>
            <form [formGroup]="indForm" (ngSubmit)="submit()" novalidate>                    
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-lg-12 d-flex">
                            <div class="ml-auto">
                                <strong>ID:</strong>
                                <span class="pl-3 pr-4">{{ ind.ind_id }}</span>
                
                                <strong>Created by:</strong>
                                <span class="pl-3 pr-4">{{ ind.created_by }}</span>
                
                                <strong>Date: </strong>
                                <span class="pl-3 pr-3">{{ ind.issue_date }}</span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="row pt-3 pb-3">
                                <div class="col">
                                    <h4>Premise Details</h4>                            
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12 col-xl-6 d-flex align-items-center" *ngIf="!this.indForm.get('area_inspection').value">
                                    <input formControlName="p_close" type="checkbox">
                                    <span class="pl-3"> Premise Close</span>
                                </div>
                                <div class="col-lg-12  col-xl-6 d-flex align-items-center" *ngIf="!this.indForm.get('area_inspection').value"> 
                                    <input formControlName="p_empty" type="checkbox">
                                    <span class="pl-3"> Premise Empty</span>
                                </div>
                                <div class="col-lg-12 d-flex align-items-center" *ngIf="!this.indForm.get('area_inspection').value">
                                    <input formControlName="p_cooperation" type="checkbox">
                                    <span class="pl-3"> Cooperation</span>
                                </div>
                                <div class="col-lg-12 d-flex align-items-center">
                                    <input formControlName="area_inspection" type="checkbox">
                                    <span class="pl-3"> Area Inspection</span>
                                </div>
                            </div>

                            <div class="form-group mt-4"
                                [ngClass]="{'has-error': (indForm.get('po_name').touched
                                                        || indForm.get('po_name').dirty) &&
                                                        !indForm.get('po_name').valid }">
                                <label for="txtPOName">{{ indForm.get('area_inspection').value ? 'Area Name' : 'Full Name' }}</label>
                                <input type="text" class="form-control" id="txtPOName" formControlName="po_name">
                            </div>

                            <div class="form-group" *ngIf="!this.indForm.get('area_inspection').value"
                                [ngClass]="{'has-error': (indForm.get('po_id').touched
                                                        || indForm.get('po_id').dirty) &&
                                                        !indForm.get('po_id').valid }">
                                <label for="txtPOID">IC. Number</label>
                                <input type="text" class="form-control" id="txtPOID" formControlName="po_id" placeholder="Insert premise owner IC. number">

                                <span class="help-block" *ngIf="(indForm.get('po_id').touched ||
                                                                indForm.get('po_id').dirty) &&
                                                                indForm.get('po_id').errors">
                                    <span *ngIf="indForm.get('po_id').errors.pattern" class="txtErr">
                                        * The IC number must be 12 numeric characters (eg: 941010105021).
                                    </span>
                                </span>
                            </div>

                            <div class="form-group" 
                                [ngClass]="{'has-error': (indForm.get('p_shortAddr').touched
                                                        || indForm.get('p_shortAddr').dirty) &&
                                                        !indForm.get('p_shortAddr').valid }">
                                <label for="txtSAddr">Address</label>
                                <textarea class="form-control" id="txtSAddr" formControlName="p_shortAddr" placeholder="Insert premise address" style="height: 90px; resize: none;"></textarea>
                            </div>

                            <div class="form-group" *ngIf="!this.indForm.get('area_inspection').value"
                                [ngClass]="{'has-error': (indForm.get('no_familyMember').touched
                                                        || indForm.get('no_familyMember').dirty) &&
                                                        !indForm.get('no_familyMember').valid }">
                                <label for="txtNoFamMembers">Number of family members</label>
                                <input type="number" class="form-control" id="txtNoFamMembers" formControlName="no_familyMember" placeholder="Insert number of family members.">
                            </div>

                            <div class="form-group" *ngIf="!this.indForm.get('area_inspection').value"
                                [ngClass]="{'has-error': (indForm.get('no_fever').touched
                                                        || indForm.get('no_fever').dirty) &&
                                                        !indForm.get('no_fever').valid }">
                                <label for="txtNoFever">Number of fever members</label>
                                <input type="number" class="form-control" id="txtNoFever" formControlName="no_fever" placeholder="Insert number of fever members.">
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="row pt-3 pb-3">
                                <div class="col">
                                    <h4>Aedes Mosquitoes Larvae Breeding Finding</h4>
                                </div>
                            </div>
                            
                            <div class="form-group" [ngClass]="{'has-error': (indForm.get('container_type').touched
                                                                            || indForm.get('container_type').dirty) &&
                                                                            !indForm.get('container_type').valid }">
                                <label for="txtContainerType">Container Type</label>
                                <input type="text" class="form-control" id="txtContainerType" formControlName="container_type" placeholder="Insert the container type if any.">
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': (indForm.get('act_destroy').touched
                                                                            || indForm.get('act_destroy').dirty) &&
                                                                            !indForm.get('act_destroy').valid }">
                                <label for="txtDestroyedBreeding">Destroyed Breeding Areas</label>
                                <input type="number" class="form-control" id="txtDestroyedBreeding" formControlName="act_destroy" placeholder="Insert number of destroyed breeding areas.">
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group" [ngClass]="{'has-error': (indForm.get('no_out_breeding').touched
                                                                                    || indForm.get('no_out_breeding').dirty) &&
                                                                                    !indForm.get('no_out_breeding').valid }">
                                        <label for="txtNoOutBreeding">Outside</label>
                                        <input type="number" class="form-control" id="txtNoOutBreeding" formControlName="no_out_breeding" placeholder="Insert number of outside breeding finding.">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" [ngClass]="{'has-error': (indForm.get('no_in_breeding').touched
                                                                                    || indForm.get('no_in_breeding').dirty) &&
                                                                                    !indForm.get('no_in_breeding').valid }">
                                        <label for="txtNoInBreeding">Inside</label>
                                        <input type="number" class="form-control" id="txtNoInBreeding" formControlName="no_in_breeding" placeholder="Insert number of inside breeding finding.">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row pt-3 pb-3">
                                <div class="col">
                                    <h4>Potential Aedes Mosquitoes Larvae Breeding Finding</h4>                            
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group"
                                        [ngClass]="{'has-error': (indForm.get('no_pot_out_breeding').touched
                                                                || indForm.get('no_pot_out_breeding').dirty) &&
                                                                !indForm.get('no_pot_out_breeding').valid }">
                                        <label for="txtNoPotOutBreeding">Outside</label>
                                        <input type="number" class="form-control" id="txtNoPotOutBreeding" formControlName="no_pot_out_breeding" placeholder="Insert number of potential outside breeding finding.">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group"
                                        [ngClass]="{'has-error': (indForm.get('no_pot_in_breeding').touched
                                                                || indForm.get('no_pot_in_breeding').dirty) &&
                                                                !indForm.get('no_pot_in_breeding').valid }">
                                        <label for="txtNoPotInBreeding">Inside</label>
                                        <input type="number" class="form-control" id="txtNoPotInBreeding" formControlName="no_pot_in_breeding" placeholder="Insert number of potential inside breeding finding.">
                                    </div>
                                </div>                                
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group"
                                        [ngClass]="{'has-error': (indForm.get('abating_amount').touched
                                                                || indForm.get('abating_amount').dirty) &&
                                                                !indForm.get('abating_amount').valid }">
                                        <label for="txtAbatingAmount">Abating Amount</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" id="txtAbatingAmount" formControlName="abating_amount" placeholder="Please insert the abating amount (gram/ml).">
                                            <div ngbDropdown class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="dropdownBasic1" ngbDropdownToggle>{{ indForm.get('abating_measure_type').value == 0 ? 'Gram' : 'ml' }}</button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                    <button class="dropdown-item" type="button" (click)="indForm.get('abating_measure_type').setValue('0')">Gram</button>
                                                    <button class="dropdown-item" type="button" (click)="indForm.get('abating_measure_type').setValue('1')">ml</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row pt-3 pb-3">
                                <div class="col">
                                    <h4>Action</h4>                            
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center">
                                    <input formControlName="act_education" type="checkbox">
                                    <span class="pl-3">Education</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center">
                                    <input formControlName="act_pamphlet" type="checkbox">
                                    <span class="pl-3">Pamphlet</span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="mt-2 ml-3">
                                    <button type="button" [class]="exhibitData ? 'btn btn-primary' : 'btn btn-outline-primary'" [disabled]="!exhibitData" (click)="openModal(modalExhibit, 'lg')">
                                        <i class="fa fa-pencil"></i> Exhibit
                                    </button>
                                </div>
                                <div class="mt-2 ml-3">
                                    <button type="button" [class]="sek5Data ? 'btn btn-primary' : 'btn btn-outline-primary'" [disabled]="!sek5Data" (click)="openModal(modalSek5, null)">
                                        <i class="fa fa-pencil"></i> Seksyen 5
                                    </button>
                                </div>
                                <div class="mt-2 ml-3">
                                    <button type="button" [class]="sek8Data ? 'btn btn-primary' : 'btn btn-outline-primary'" [disabled]="!sek8Data" (click)="openModal(modalSek8, 'lg')">
                                        <i class="fa fa-pencil"></i> Seksyen 8
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>                            
                
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-primary mr-3">
                        {{ mode == 2 ? 'Edit I&D' : 'Add I&D' }}
                    </button>
                    <button class="btn btn-outline-secondary"
                        [routerLink]="['/viewIND/' + ind.ind_id]" [routerLinkActive]="['router-link-active']">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #modalExhibit let-c="close" let-d="dismiss">
    
    <div class="modal-header">
        <h4 class="modal-title">
            Edit Exhibit
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="poDetailsForm" novalidate>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>
                                <strong>Premise Owner Details</strong>
                            </h5>
                        </div>
                    </div>
        
                    <div class="row pt-3 pb-3">
                        <div class="col-lg-12 d-flex align-items-center">
                            <input type="checkbox" formControlName="acceptance">
                            <span class="pl-3"> Premise Owner Cooperation</span>
                        </div>
                    </div>
        
                    <div class="form-group" [ngClass]="{'has-error': (poDetailsForm.get('po_full_name').touched
                                                                    || poDetailsForm.get('po_full_name').dirty) &&
                                                                    !poDetailsForm.get('po_full_name').valid }">
                        <label for="txtFullName">Full Name</label>
                        <input type="text" class="form-control" id="txtFullName" formControlName="po_full_name" placeholder="Insert premise owner full name.">
                    </div>
        
                    <div class="form-group" [ngClass]="{'has-error': (poDetailsForm.get('po_ic_no').touched
                                                                    || poDetailsForm.get('po_ic_no').dirty) &&
                                                                    !poDetailsForm.get('po_ic_no').valid }">
                        <label for="txtPOIC">IC. Number</label>
                        <input type="text" class="form-control" id="txtPOIC" formControlName="po_ic_no" placeholder="Insert premise owner IC. number">
        
                        <span class="help-block" *ngIf="(poDetailsForm.get('po_ic_no').touched ||
                                                        poDetailsForm.get('po_ic_no').dirty) &&
                                                        poDetailsForm.get('po_ic_no').errors">
                            <span *ngIf="poDetailsForm.get('po_ic_no').errors.pattern" class="txtErr">
                                * The IC number must be 12 numeric characters (eg: 941010105021).
                            </span>
                        </span>
                    </div>
                </form>
        
                <div class="row pt-4">
                    <div class="col-lg-12">
                        <h5>
                            <strong>Breeding Location Drawings</strong>
                        </h5>
                    </div>
                </div>
        
                <div class="row mb-4">
                    <div class="col col-lg-12 pt-2">
                        <button type="button" class="btn btn-outline-primary" (click)="openFPModal(modalFloorPlan, null)">
                            <i class="fa fa-pencil"></i> Floor Plan
                        </button>
                        <button type="button" class="btn btn-outline-danger ml-3" (click)="openPLModal(modalPremiseLocation, null)">
                            <i class="fa fa-pencil"></i> Premise Location
                        </button>
                    </div>
                </div>

                <form [formGroup]="exhibitForm"  (ngSubmit)="submitExhibitItem()" novalidate>
    
                    <div class="row pt-3">
                        <div class="col-lg-12">
                            <h5>
                                <strong>Exhibit Details</strong>
                            </h5>
                        </div>
                    </div>
        
                    <div class="form-group" [ngClass]="{'has-error': (exhibitForm.get('type').touched
                                                    || exhibitForm.get('type').dirty) &&
                                                    !exhibitForm.get('type').valid }">
                        <label for="txtType">Type of Exhibit</label>
                        <input type="text" class="form-control" id="txtType" formControlName="type" placeholder="Insert the type of exhibit.">
                        
                        <span class="help-block" *ngIf="(exhibitForm.get('type').touched ||
                                                        exhibitForm.get('type').dirty) &&
                                                        exhibitForm.get('type').errors">
                            <span *ngIf="exhibitForm.get('type').errors.required" class="txtErr">
                                * Please fill in the exhibit type.
                            </span>
                        </span>

                    </div>
        
                    <div class="form-group" [ngClass]="{'has-error': (exhibitForm.get('code').touched
                                                    || exhibitForm.get('code').dirty) &&
                                                    !exhibitForm.get('code').valid }">
                        <label for="txtCode">Code</label>
                        <input type="text" class="form-control" id="txtCode" formControlName="code" placeholder="Insert exhibit code.">

                        <span class="help-block" *ngIf="(exhibitForm.get('code').touched ||
                                                        exhibitForm.get('code').dirty) &&
                                                        exhibitForm.get('code').errors">
                            <span *ngIf="exhibitForm.get('code').errors.required" class="txtErr">
                                * Please fill in the exhibit code.
                            </span>
                        </span>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error': (exhibitForm.get('img').touched
                                                    || exhibitForm.get('img').dirty) &&
                                                    !exhibitForm.get('img').valid }">
                        <label for="fiExhibitPhoto">Exhibit Photo</label>
                        <input type="file" class="form-control-file" id="fiExhibitPhoto" formControlName="img"
                            ngbTooltip="Image size must not exceed 5MB. Accepted file types: jpg, jpeg and png."
                            [size]="5000000"
                            [withMeta]="true"
                            [allowedExt]="allowedExt">

                        <span class="help-block" *ngIf="(exhibitForm.get('img').touched ||
                                                        exhibitForm.get('img').dirty) &&
                                                        exhibitForm.get('img').errors">
                            <span *ngIf="exhibitForm.get('img').errors.fileExt" class="txtErr">
                                    * The image file type must be .jpg, jpeg or .png
                                </span>
                            <span *ngIf="exhibitForm.get('img').errors.fileSize" class="txtErr">
                                * The image file must not exceed 5MB.
                            </span>
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-outline-primary" [disabled]="!exhibitForm.valid">
                                <i class="fa fa-plus"></i> Add Exhibit Item
                            </button>
                        </div>
                    </div>

                </form>
            
            </div>

            <div class="col-md-6">
                
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <h5>
                            <strong>Exhibit Items</strong>
                        </h5>
                    </div>
                </div>

                <div class="col-sm-12 mt-3 pl-0 pr-0" *ngFor="let item of exhibitData.exhibitItems">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            
                            <button type="button" class="custom-fab" (click)="removeExhibitItem(item.fileName)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            
                            <div class="row">
                                <div class="col-sm-8 align-self-center">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <strong>Code:</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">{{ item.code }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <strong>Type:</strong>
                                        </div>
                                    </div>
                                    <div class="row">                                    
                                        <div class="col-sm-9">{{ item.type }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-around">
                                    <img class="img-thumbnail img-exhibitItem" style="width: 100px; height: 100px;" (click)="openExhibitItemModal(modalExhibitItem, item.fileName)"
                                        [src]="item.fileName" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #modalFloorPlan let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            Floor Plan
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <img #floorPlanIMG class="img-thumbnail m-auto" [src]="exhibitData.exhibit.floor_plan_URI" alt="">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="downloadDrawing(floorPlanIMG)">
            <i class="fa fa-donwload"></i> Download
        </button>
    </div>
</ng-template>

<ng-template #modalPremiseLocation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            Premise Location
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <img #premiseLocationIMG class="img-thumbnail m-auto" [src]="exhibitData.exhibit.premise_location_URI" alt="">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="downloadDrawing(premiseLocationIMG)">
            <i class="fa fa-download"></i> Download
        </button>
    </div>
</ng-template>

<ng-template #modalExhibitItem let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            Exhibit Item Photo
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <img #exhibitItemIMG 
                class="img-thumbnail m-auto modal-img-exhibitItem" 
                [src]="temp_exhibitItem_URI" alt="">                
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="downloadDrawing(exhibitItemIMG)">
            <i class="fa fa-donwload"></i> Download
        </button>
    </div>
</ng-template>

<ng-template #modalSek8 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            View Seksyen 8
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="sek8Form" novalidate>
            <div class="row pt-2">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        PERINTAH BERKENAAN AKTA PEMUSNAHAN SERANGGA PEMBAWA PENYAKIT 1975 (PINDAAN) 2000
                    </div>
                </div>
            </div>
            <div class="form-group pt-3"
                [ngClass]="{'has-error': (sek8Form.get('checking_date').touched
                                        || sek8Form.get('checking_date').dirty) &&
                                        !sek8Form.get('checking_date').valid }">
                <label for="txtCheckingDate">Date Until</label>
                <div class="input-group">
                    <input ngbDatepicker class="form-control" id="txtCheckingDate" placeholder="Select Seksyen 8 checking date"
                        formControlName="checking_date" #dp="ngbDatepicker" readonly="readonly" style="max-width: 195px">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                            <i class="fa fa-calendar" style="cursor: pointer"></i>
                        </button>
                    </div>
                </div>
                <span class="help-block" *ngIf="(sek8Form.get('checking_date').touched
                                                    || sek8Form.get('checking_date').dirty) &&
                                                    sek8Form.get('checking_date').errors">
                    <span *ngIf="sek8Form.get('checking_date').errors.required" class="txtErr">
                        * Please select the checking date.
                    </span>
                </span>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx1">
                </div>
                <div class="col">
                    <span>Pungut dan buang bekas-bekas yang atau boleh mengandungi air agaar ia tidak akan mengandungi air.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx2">
                </div>
                <div class="col">
                    <span>Tutup semua bekas simpanan air dengan rapat dan gosok dan bersihkan sebelum mengisi air yang baharu sekurang-kurangnya
                        seminggu sekali.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx3">
                </div>
                <div class="col">
                    <span>Jangan buang dan bersihkan bekas-bekas air yang telah dicampurkan dengan ubat kimia oleh Jabatan Kesihatan.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx4">
                </div>
                <div class="col">
                    <span>Campurkan satu sudu besar garam ke dalam perangkap-perangkap semut setiap kali airnya diganti.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <span>Elakkan air bertakung di lubang pokok, tunggul-tunggul buluh dan pokok-pokok yang boleh mengandungi air seperti
                        pokok pisang, pokok bunga dalam pasu dan lain-lain dengan</span>
                </div>
            </div>
            <div class="row pt-2">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx5">
                </div>
                <div class="col">
                    <span>memusnahkan dan melupuskan</span>
                </div>
            </div>
            <div class="row pt-2">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx6">
                </div>
                <div class="col">
                    <span>menyalur air darinya</span>
                </div>
            </div>
            <div class="row pt-2">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx7">
                </div>
                <div class="col">
                    <span>mengisikan dengan simen / pasir</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx8">
                </div>
                <div class="col">
                    <span>Elakkan bahagian-bahagian jentera, besi-besi buruk, pembancuh simen, perkakas jamban, kenderaan rosak dan
                        lain-lain perkakas dari menakung air.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx9">
                </div>
                <div class="col">
                    <span>Bersihkan tepi-tepi kolam dari rumput-rumpai dan pertumbuhan di bawahnya dan tepi-tepinya mestilah sentiasa
                        bersih dari sebarang tumbuh-tumbuhan.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx10">
                </div>
                <div class="col">
                    <span>Buang semua tumbuh-tumbuhan dan lain-lain benda yang terapung dari kolam-kolan.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx11">
                </div>
                <div class="col">
                    <span>Timbus / ratakan lubang-lubang dalam tanah.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx12">
                </div>
                <div class="col">
                    <span>Membubuh ubat jentik-jentik dalam telaga / kolam / lembah supaya menghalang serangga pembawa penyakit dari
                        membiak.</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="mr-0 ml-3 d-flex justify-content-center align-items-center">
                    <input type="checkbox" formControlName="chkbx13">
                </div>
                <div class="col">
                    <span>Potong dan buang segala tumbuh-tumbuhan dan pungut dan buang semua sampah-sarapnya supaya premis bersih dan
                        kemas.</span>
                </div>
            </div>

            <hr>

            <div class="form-group pt-2 pb-3"
                [ngClass]="{'has-error': (sek8Form.get('remark').touched
                                        || sek8Form.get('remark').dirty) &&
                                        !sek8Form.get('remark').valid }">
                <label for="txtRemark">Remark</label>
                <textarea class="form-control" id="txtRemark" formControlName="remark" placeholder="Insert number of potential inside breeding finding."></textarea>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #modalSek5 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            View Seksyen 5
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row pt-2">
            <div class="col-lg-12">
                <div class="alert alert-info">
                    NOTIS UNTUK MEMASUKI PREMISE BAGI PEMERIKSAAN DAN MENJALANKAN KUASA-KUASA DI BAWAH SEKSYEN 5 AKTA PEMUSNAHAN SERANGGA PEMBAWA
                    PENYAKIT (PINDAAN) 2000
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-lg-12">
                <h5>
                    <strong>Appointment Date Time from</strong>
                </h5>
            </div>
        </div>
        <form [formGroup]="sek5Form" novalidate>
            <div class="form-group pt-3"
                [ngClass]="{'has-error': (sek5Form.get('date').touched
                                        || sek5Form.get('date').dirty) &&
                                        !sek5Form.get('date').valid }">
                <label for="txtDate"></label>
                <div class="input-group">
                    <input ngbDatepicker class="form-control" id="txtDate" placeholder="Select Seksyen 8 checking date"
                        formControlName="date" #dp="ngbDatepicker" readonly="readonly" style="max-width: 195px">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                            <i class="fa fa-calendar" style="cursor: pointer"></i>
                        </button>
                    </div>
                </div>
                <span class="help-block" *ngIf="(sek5Form.get('date').touched
                                                    || sek5Form.get('date').dirty) &&
                                                    sek5Form.get('date').errors">
                    <span *ngIf="sek5Form.get('date').errors.required" class="txtErr">
                        * Please enter your first name.
                    </span>
                </span>
            </div>
            <div class="row pt-2">
                <div class="col-lg-12">
                    <ngb-timepicker formControlName="time" [meridian]="true"></ngb-timepicker>
                </div>
            </div>
            
            <div class="form-group pt-2 pb-3"
                [ngClass]="{'has-error': (sek5Form.get('remark').touched
                                        || sek5Form.get('remark').dirty) &&
                                        !sek5Form.get('remark').valid }">
                <label for="txtRemark">Remark</label>
                <textarea class="form-control" id="txtRemark" formControlName="remark" placeholder="Insert number of potential inside breeding finding."></textarea>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #modalEditConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            Edit Confirmation
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                Confirm to edit this inspection and destruction record?
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="editInd()" class="btn btn-outline-primary">
            Proceed
        </button>
        <button class="btn btn-outline-secondary" (click)="d('Cancel click')">
            Cancel
        </button>      
    </div>
</ng-template>