.mat-form-field{
    display: block;
}

mat-row:hover{
    background: #FAFAFA;
    cursor: pointer;
}

.cdk-overlay-container{
    z-index: 9999 !important;
}

.tbl-indlst{
    @media (min-width: 1024px){
        .mat-cell, 
        .mat-header-cell{
            flex: unset;
        }
    
        .mat-column-ind_id{
            width: 5%;
        }
    
        .mat-column-p_shortAddr{
            width: 25%;
        }
    
        .mat-column-po_name{
            width: 20%;
        }
    
        .mat-column-team{
            width: 15%;
        }
    
        .mat-column-full_name{
            width: 20%;
        }
    
        .mat-column-issue_date{
            width: 15%;
        }
    }

    @media (min-width: 1366px){
        .mat-column-ind_id{
            width: 5%;
        }
    
        .mat-column-p_shortAddr{
            width: 30%;
        }
    
        .mat-column-po_name{
            width: 20%;
        }
    
        .mat-column-team{
            width: 15%;
        }
    
        .mat-column-full_name{
            width: 20%;
        }
    
        .mat-column-issue_date{
            width: 10%;
        }
    }
}
